<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <!-- Css Import -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Quill Import -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


    <!-- Jquery Import -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>


<div th:replace="~{fragments/header :: header}"></div>

<section class="form-section-wide">
    <form class="form-article" action="/study/new" th:action="@{/study/new}" method="post">
        <div class="form-article-inner">
            <div class="form-outline">
                <p>스터디 이름</p>
                <input type="text" name="studyName">
            </div>
            <div class="form-outline">
                <p>스터디 짧은 소개</p>
                <input type="text" name="shortDescription">
            </div>
            <div class="form-outline">
                <p>내용</p>
                <div class="form-content"></div>
                <input type="hidden" id="quill_html" name="studyContent">
            </div>
            <div class="form-submit">
                <button type="submit">스터디 만들기</button>
            </div>

        </div>


    </form>
</section>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>

    var toolbarOption = [
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [{'header': 1}, {'header': 2}],
        [{'list': 'ordered'}, {'list': 'bullet'}],
        [{'header': [1, 2, 3, 4, 5, 6, false]}],
        [{'color': []}, {'background': []}],
        [{'font': []}],
        [{'align': []}],
        ['clean']
    ]


    var quill = new Quill('.form-content', {
        modules: {
            toolbar: toolbarOption
        },
        theme: 'snow',
        placeholder: "내용을 입력해주세요",

    });
    quill.on('text-change', function () {
        document.getElementById("quill_html").value = quill.root.innerHTML
    })
</script>


</body>
</html>