<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <!-- Css Import -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Quill Import -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Jquery Import -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Boot Strap Icons -->
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>


<div th:replace="~{fragments/header :: header}"></div>

<section class="article-section">
    <div class="article-section-inner">
        <div class="article">
            <div class="article-inner">
                <div class="article-header">
                    <div class="article-header-left">
                        <div class="article-title">
                            <h1 th:text="${study.title}"></h1>
                            <p th:text="${study.shortDescription}"></p>
                        </div>
                    </div>
                    <div class="article-header-right">
                        <div class="article-info-first">
                            <button class="btn-submit">스터디 가입</button>
                            <button class="btn-submit">공개</button>
                        </div>
                        <div class="article-info-second">
                            <a th:text="${study.author}">닉네임</a>
                            <div class="article-time">
                                <span>작성일</span>
                                <time th:text="*{#temporals.format(study.localDateTime, 'yyyy-MM-dd HH:mm')}">yyyy-MM-dd
                                </time>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="article-navigation">
                    <a th:href="@{/study/{path}(path=${study.path})}"><i class="bi bi-info-circle-fill"></i><span>소개</span></a>
                    <a th:href="@{/study/{path}/members(path=${study.path})}"><i class="bi bi-person-circle"></i><span>구성원</span></a>
                    <a th:href="@{/study/{path}/settings(path=${study.path})}"><i class="bi bi-gear-fill"></i><span>스터디 설정</span></a>
                </div>

                <div class="article-content">
                    <p th:utext="${study.studyContent}"></p>
                </div>
            </div>
        </div>
        <div class="article-btn-container">
            <a class="btn-submit" th:href="@{/study/edit/{id}(id=${study.id})}" type="submit">수정</a>
            <a class="btn-submit" th:href="@{/study/delete/{id}(id=${study.id})}">삭제</a>
        </div>
    </div>


</section>


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>


    var quill = new Quill('.form-content', {
        theme: 'bubble',
        placeholder: "내용을 입력해주세요",
        readOnly: true

    });
    quill.on('text-change', function () {
        document.getElementById("quill_html").value = quill.root.innerHTML
    })
</script>


</body>
</html>