<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<div th:replace="~{fragments/header :: header}"></div>

<section class="articles-section">
    <div class="articles-table">
        <div class="table-head">
            <div class="table-head-inner">
                <div class="row-top">
                    <span class="col-id">번호</span>
                    <span class="col-title">제목</span>
                </div>
                <div class="row-bottom">
                    <span class="col-author">작성자</span>
                    <span class="col-time">작성일</span>
                </div>
            </div>
        </div>

<!--        th:if="${study.published == true}"-->
        <a  th:each=" study: ${studyList}" th:href="@{/study/{path}(path=${study.path})}">
            <div class="table-body">
                <div class="table-body-inner">
                    <div class="row-top">
                        <span class="col-id" th:text="*{study.id}">1</span>
                        <span class="col-title" th:text="*{study.getTitle}">제목</span>
                    </div>
                    <div class="row-bottom">
                        <span class="col-author" th:text="*{study.getAuthor}">사용자이름</span>
                        <time class="col-time"
                              th:text="*{#temporals.format(study.localDateTime, 'yyyy.MM.dd HH:mm')}">2023.10.15</time>
                    </div>
                </div>
            </div>
        </a>
        <div class="table-link">
            <a th:href="@{/study/new}" class="btn-submit">스터디 만들기</a>
        </div>
    </div>
</section>


<script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

</body>
</html>