<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <!-- Css Import -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Quill Import -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Jquery Import -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>


<div th:replace="~{fragments/header :: header}"></div>

<div class="container2">
    <section class="article2">
        <div class="article-inner2">
            <div class="article-inner-wrap">
                <div class="article-header2">
                    <div class="article-header-left2">
                        <h1 class="article-h12"> 제목 </h1>
                    </div>
                    <div class="article-header-right2">
                        <a>닉네임</a>
                        <div class="time2">
                            <span>작성일</span>
                            <time>yyyy-MM-dd</time>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="article-content2">
                    <p> 내용 </p>
                </div>
            </div>

            <div class="article-footer2">
                <div class="article-btn">
                    <a>수정</a>
                    <a>삭제</a>
                </div>

            </div>
        </div>


    </section>
</div>


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>


    var quill = new Quill('.form-content2', {
        theme: 'bubble',
        placeholder: "내용을 입력해주세요",
        readOnly: true

    });
    quill.on('text-change', function () {
        document.getElementById("quill_html").value = quill.root.innerHTML
    })
</script>


</body>
</html>