<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<header class="index-header" th:fragment="header">
    <div class="nav-container">
        <div class="nav-container-inner">
            <div class="nav-grid">
                <div class="logo_container">
                    <a href="/">
                        <img src="/img/Seminarapp.svg" alt="">
                    </a>
                </div>
                <div class="nav-link-box">
                    <li><a href="/study">스터디</a></li>
                    <li><a href="/articles">커뮤니티</a></li>
                    <li><a>예제</a></li>
                    <li><a>예제</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a>
                            <span sec:authentication="name"></span>
                        </a>
                        <div class="dropdown">
                            <a href="#none" th:href="@{/profile/{username}(username = ${#authentication.name})}">프로필</a>
                            <a href="#none">내 스터디</a>
                            <a href="/logout">로그아웃</a>

                        </div>

                    </li>
                    <li class="nav_link" sec:authorize="!isAuthenticated()"><a href="/loginPage">로그인</a></li>
<!--                    <li class="nav_link" sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>-->
                </div>
            </div>
        </div>
    </div>
</header>


</body>
</html>