<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<header class="index-header" th:fragment="header">
    <div class="nav-container">
        <div class="nav-container-inner">
            <div class="nav-grid">
                <div class="logo_container">
                    <a href="/">
                        <img src="/img/Seminarapp.svg" alt="">
                    </a>
                </div>
                <div class="nav-link-box">
                    <li><a href="/articles">스터디</a></li>
                    <li><a>예제</a></li>
                    <li><a>예제</a></li>
                    <li class="nav_link"><a href="/login">로그인</a></li>
                </div>
            </div>
        </div>
    </div>
</header>


</body>
</html>