@charset "UTF-8";
/* 스포카한산스네오 font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* google font: Noto Sans */
/* google font: Raleway*/
* {
  font-family: "Noto Sans KR", serif;
  font-weight: 400;
}

body {
  font-weight: 300;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #000;
}

.btn-submit {
  padding: 9.2px 20px;
  border-radius: 0.75rem;
  background: #1e71ff;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

/* articles.html header */
.index-header .nav-container {
  background-color: #1e71ff;
  padding: 0 60px;
  margin: 0 auto;
  align-items: center;
  height: 50px;
}
.index-header .nav-container .nav-container-inner {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}
.index-header .nav-container .nav-container-inner .nav-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.index-header .nav-container .nav-container-inner .nav-grid .nav-link-box {
  display: flex;
  align-items: flex-start;
}
.index-header .nav-container .nav-container-inner .nav-grid .nav-link-box li {
  list-style: none;
  margin: 0 0 0 40px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  font-family: Arial;
}
.index-header .nav-container .nav-container-inner .nav-grid .nav-link-box li a {
  text-decoration: none;
  color: white;
}

/* index section */
.index-section {
  background-color: #1e71ff;
  padding: 15vh 60px 30vh;
}
.index-section .grid {
  max-width: 1160px;
  margin: 0 auto;
}
.index-section .grid .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-section .grid .flexbox .left-box {
  min-width: 450px;
  margin: 0 15% 200px 0;
  color: white;
  display: flex;
  align-items: center;
}
.index-section .grid .flexbox .left-box .left-box-inner h1 {
  margin-bottom: 18px;
  line-height: 150%;
  font-weight: bold;
  font-size: 50px;
}
.index-section .grid .flexbox .left-box .left-box-inner p {
  font-size: 18px;
  margin: 0 0 52px 0;
}
.index-section .grid .flexbox .left-box .left-box-inner .button-style-white {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  padding: 12px 52px;
  margin: 0 31px 0 0;
  border-radius: 20px;
  border: none;
  color: #1e71ff;
}
.index-section .grid .flexbox .left-box .left-box-inner .button-style-transparent {
  font-size: 18px;
  font-weight: bold;
  background-color: #1e71ff;
  padding: 11px 51px;
  border-radius: 20px;
  border: solid white 1px;
  color: white;
}
.index-section .grid .flexbox .right-box img {
  width: 100%;
}

@media (max-width: 991px) {
  .left-box {
    margin: 0 8vh;
    min-width: 40vw;
  }
  .left-box h1 {
    font-size: 4vw;
    line-height: 150%;
    font-weight: bold;
    margin: 0 0 18px 0;
  }
  .left-box p {
    margin: 0 35px 0 0;
    font-size: 1.5vw;
  }
  .left-box button:first-child {
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    padding: 8px 35px;
    margin-right: 15px;
    border-radius: 20px;
    color: #1e71ff;
  }
  .left-box button:last-child {
    font-size: 14px;
    font-weight: bold;
    background-color: #1e71ff;
    padding: 7px 34px;
    border-radius: 20px;
    border: solid white 1px;
    color: white;
  }
}
/* --- Articles Section --- */
.articles-section {
  display: flex;
  justify-content: center;
}
.articles-section .articles-table {
  margin: 50px 0 0 0;
  width: 70%;
  max-width: 800px;
}
.articles-section .articles-table .table-head {
  border-bottom: 2px solid;
  color: #fff;
  background: #1e71ff;
  opacity: 0.9;
  padding: 5px 0;
}
.articles-section .articles-table .table-head .table-head-inner {
  align-items: center;
  width: 100%;
  display: flex;
  text-align: center;
}
.articles-section .articles-table .table-head .table-head-inner .row-top {
  display: flex;
  flex: 1;
}
.articles-section .articles-table .table-head .table-head-inner .row-top .col-id {
  width: 6rem;
}
.articles-section .articles-table .table-head .table-head-inner .row-top .col-title {
  text-align: left;
  flex: 1;
  margin-right: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden;
}
.articles-section .articles-table .table-head .table-head-inner .row-bottom {
  display: flex;
  align-items: center;
}
.articles-section .articles-table .table-head .table-head-inner .row-bottom .col-author {
  text-align: left;
  width: 7rem;
}
.articles-section .articles-table .table-head .table-head-inner .row-bottom .col-time {
  width: 6rem;
}
.articles-section .articles-table .table-body {
  border-bottom: 2px solid #d0d0d0;
}
.articles-section .articles-table .table-body .table-body-inner {
  align-items: center;
  width: 100%;
  display: flex;
  text-align: center;
}
.articles-section .articles-table .table-body .table-body-inner .row-top {
  display: flex;
  flex: 1;
}
.articles-section .articles-table .table-body .table-body-inner .row-top .col-id {
  width: 6rem;
}
.articles-section .articles-table .table-body .table-body-inner .row-top .col-title {
  text-align: left;
  flex: 1;
  margin-right: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden;
}
.articles-section .articles-table .table-body .table-body-inner .row-bottom {
  display: flex;
  align-items: center;
}
.articles-section .articles-table .table-body .table-body-inner .row-bottom .col-author {
  text-align: left;
  width: 7rem;
}
.articles-section .articles-table .table-body .table-body-inner .row-bottom .col-time {
  width: 6rem;
}
.articles-section .articles-table .table-link {
  display: flex;
  justify-content: end;
  margin: 15px 2px 15px 0;
}

/* --- From Section ---*/
.form-section {
  display: flex;
  justify-content: center;
}
.form-section .login-form {
  margin: 150px 0 0 0;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.form-section .login-form .login-form-inner {
  margin: 0 0 10px 0;
}
.form-section .login-form .login-form-inner .form-label {
  display: block;
  margin: 0 0 3px 10px;
  font-size: 18px;
}
.form-section .login-form .login-form-inner .form-control-outline input {
  width: 100%;
  background-color: #EEEEEE;
  padding: 9px 9px 9px 15px;
  border-radius: 10px;
  border: 1px solid;
}
.form-section .login-form .login-form-inner .form-text {
  margin: 5px 0 0 20px;
  color: #5a5a64;
}
.form-section .form-check {
  margin: 0 0 10px 0;
}
.form-section .form-btn {
  display: flex;
  justify-content: center;
}
.form-section .form-btn .login-btn {
  border: 1px solid #1e71ff;
  border-radius: 15px;
  padding: 9px 35px;
  background: #1e71ff;
  color: white;
  font-size: 16px;
}
.form-section .form-btn .login-btn:hover {
  cursor: inherit;
}

/* Create Article Page */
.form-section-wide {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
}
.form-section-wide .form-article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-section-wide .form-article .form-article-inner {
  width: 70%;
}
.form-section-wide .form-article .form-article-inner .form-outline .form-content {
  height: 400px;
}
.form-section-wide .form-article .form-article-inner .form-outline input {
  width: 99.5%;
  padding: 9px 0px 9px 0px;
  align-items: center;
  margin: 0;
}
.form-section-wide .form-article .form-article-inner .form-submit {
  margin: 15px 0;
  display: flex;
  justify-content: end;
}
.form-section-wide .form-article .form-article-inner .form-submit button {
  padding: 9.2px 20px;
  margin: 0 2px 0 0;
  border-radius: 0.75rem;
  background: #1e71ff;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

/* Show Article Page*/
.article-section {
  display: flex;
  justify-content: center;
}
.article-section .article-section-inner {
  width: 100%;
  max-width: 1000px;
  margin: 50px 0 0 0;
}
.article-section .article-section-inner .article {
  border: 1px solid rgba(164, 164, 164, 0.3);
  border-radius: 15px;
  padding: 30px 30px;
}
.article-section .article-section-inner .article .article-inner .article-title h1 {
  font-size: 26px;
  margin: 0;
}
.article-section .article-section-inner .article .article-inner .article-content p {
  font-size: 15px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
