@import "fonts";


* {
  font-family: "Noto Sans KR", serif;
  font-weight: 400;
}

body {
  font-weight: 300;
  margin: 0;

  a {
    text-decoration: none;
    color: #000;
  }
}

.btn-submit {
  padding: 9.2px 20px;
  border-radius: 0.75rem;

  background: #1e71ff;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.btn-secondary {
  padding: 9.2px 20px;
  border-radius: 0.75rem;

  background: #6d6d70;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}


/* studyPage.html header */
.index-header {
  .nav-container {
    background-color: #1e71ff;
    padding: 0 60px;
    margin: 0 auto;
    align-items: center;
    height: 50px;


    .nav-container-inner {
      max-width: 1160px;
      margin: 0 auto;
      height: 100%;
      align-items: center;

      .nav-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //height: 45px;
        height: 100%;

        .logo_container {
          //margin-top: 40px;

          a {
            img {
            }
          }
        }

        .nav-link-box {
          display: flex;
          align-items: flex-start;
          //margin: 43px 0 0 0;

          li {
            list-style: none;
            margin: 0 0 0 40px;
            font-size: 14px;
            font-weight: bold;
            color: white;
            font-family: Arial;

            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
  }
}

/* index section */
.index-section {
  background-color: #1e71ff;
  padding: 15vh 60px 30vh;

  .grid {
    max-width: 1160px;
    margin: 0 auto;

    .flexbox {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-box {
        min-width: 450px;
        margin: 0 15% 200px 0;
        color: white;
        display: flex;
        align-items: center;

        .left-box-inner {
          h1 {
            margin-bottom: 18px;
            line-height: 150%;
            font-weight: bold;
            font-size: 50px;
          }

          p {
            font-size: 18px;
            margin: 0 0 52px 0;
          }

          .button-style-white {
            font-size: 18px;
            font-weight: bold;
            background-color: white;
            padding: 12px 52px;
            margin: 0 31px 0 0;
            border-radius: 20px;
            border: none;
            color: #1e71ff;

          }

          .button-style-transparent {
            font-size: 18px;
            font-weight: bold;
            background-color: #1e71ff;
            padding: 11px 51px;
            border-radius: 20px;
            border: solid white 1px;
            color: white;
          }
        }
      }

      .right-box {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 991px) {

  .left-box {
    margin: 0 8vh;
    min-width: 40vw;

    h1 {
      font-size: 4vw;
      line-height: 150%;
      font-weight: bold;
      margin: 0 0 18px 0;
    }

    p {
      margin: 0 35px 0 0;
      font-size: 1.5vw;
    }

    button:first-child {
      font-size: 14px;
      font-weight: bold;
      background-color: white;
      padding: 8px 35px;
      margin-right: 15px;
      border-radius: 20px;
      color: #1e71ff;
    }

    button:last-child {
      font-size: 14px;
      font-weight: bold;
      background-color: #1e71ff;
      padding: 7px 34px;
      border-radius: 20px;
      border: solid white 1px;
      color: white;
    }
  }
}


/* --- Articles Section --- */
.articles-section {
  display: flex;
  justify-content: center;

  .articles-table {
    margin: 50px 0 0 0;
    width: 70%;
    max-width: 800px;

    .table-head {
      border-bottom: 2px solid;
      //border-color: #d0d0d0;
      color: #fff;
      background: #1e71ff;
      opacity: 0.9;
      padding: 5px 0;

      .table-head-inner {
        align-items: center;
        width: 100%;
        display: flex;
        text-align: center;

        .row-top {
          display: flex;
          flex: 1;

          .col-id {
            width: 6rem;
          }

          .col-title {
            text-align: left;
            flex: 1;
            margin-right: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100px;
            overflow: hidden;
          }
        }

        .row-bottom {
          display: flex;
          align-items: center;

          .col-author {
            text-align: left;
            width: 7rem;
          }

          .col-time {
            width: 6rem;
          }
        }
      }
    }

    .table-body {
      border-bottom: 2px solid #d0d0d0;

      .table-body-inner {
        align-items: center;
        width: 100%;
        display: flex;
        text-align: center;

        .row-top {
          display: flex;
          flex: 1;

          .col-id {
            width: 6rem;
          }

          .col-title {
            text-align: left;
            flex: 1;
            margin-right: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100px;
            overflow: hidden;
          }
        }

        .row-bottom {
          display: flex;
          align-items: center;

          .col-author {
            text-align: left;
            width: 7rem;
          }

          .col-time {
            width: 6rem;
          }
        }
      }
    }

    .table-link {
      display: flex;
      justify-content: end;
      margin: 15px 2px 15px 0;
    }
  }
}

/* --- From Section ---*/

.form-section {
  display: flex;
  justify-content: center;

  h1 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
  }

  .login-form {
    margin: 120px 0 0 0;
    width: 400px;
    display: flex;
    flex-direction: column;

    .login-form-inner {
      margin: 0 0 10px 0;

      .form-label {
        display: block;
        margin: 0 0 3px 10px;
        font-size: 18px;

      }


      .form-control-outline {
        display: flex;
        justify-content: center;

        input {
          width: 92%;
          background-color: #EEEEEE;
          padding: 9px 9px 9px 15px;
          border-radius: 10px;
          border: 1px solid;
        }

        .form-control {
          //display: block;
          //width: 98%;
          //border: none;

        }
      }

      .form-text {
        margin: 5px 0 0 20px;
        color: #5a5a64;
      }
    }

    .form-footer {
      display: flex;
      justify-content: space-between;

      .form-check {
      }

      .form-signup {
      }
    }


  }

  .form-check {
    margin: 0 0 10px 0;

  }

  .form-btn {
    display: flex;
    justify-content: center;

    .login-btn {
      border: 1px solid #1e71ff;
      border-radius: 15px;
      padding: 9px 35px;
      background: #1e71ff;
      color: white;
      font-size: 16px;

      &:hover {
        cursor: inherit;
      }
    }
  }
}


/* Create Article Page */
.form-section-wide {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;

  .form-article {
    //width: 1160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-article-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      //width: 1160px;

      .form-outline {
        .form-content {
          height: 400px;
        }

        input {
          width: 97%;
          //width: 1160px;
          padding: 9px 10px 9px 10px;
          align-items: center;
          margin: 0;
        }


      }

      .form-submit {
        margin: 15px 0;
        display: flex;
        justify-content: end;

        button {
          //padding: 0.75rem 1.5rem;
          padding: 9.2px 20px;
          margin: 0 2px 0 0;
          border-radius: 0.75rem;

          background: #1e71ff;
          border: none;
          color: #fff;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }
}

/* Show Article Page*/
.article-section {
  display: flex;
  justify-content: center;

  .article-section-inner {
    width: 100%;
    max-width: 1000px;
    margin: 50px 0 0 0;

    .article {
      border: 1px solid rgba(164, 164, 164, 0.3);
      border-radius: 15px;
      padding: 30px 30px;

      .article-inner {

        .article-header {
          display: flex;
          justify-content: space-between;
          padding: 0 0 10px 0;
          margin: 0 0 10px 0;


          .article-header-left {
            .article-title {

              .article-h1 {
                font-size: 32px;
                margin: 0;
              }

              .study-h1 {
                font-size: 32px;
                margin: 0;
                color: #1e71ff;
              }

              p {
                font-size: 18px;
                margin: 0;
                color: #5a5a64;
              }
            }

          }

          .article-header-right {
            display: flex;
            flex-direction: column;

            .article-info-first {
              display: flex;
              justify-content: end;
              margin: 0 0 10px 0;
              gap: 5px;

              .article-time {
                padding: 0 5px;
              }

            }
          }


          .article-info-second {

            display: flex;
            justify-content: end;
            gap: 7px;

            button {
              align-items: center;
              margin: 0 0 0 5px;
            }

          }
        }

        .article-navigation {
          display: flex;
          gap: 15px;
          border-bottom: 1px solid rgba(164, 164, 164, 0.3);
          padding: 0 0 20px 2px;
          margin: 0 0 20px 0;

          a {
            color: #1e71ff;
            display: flex;
            gap: 3px;
          }


        }

        .article-content {

          .article-member {
            padding: 10px 20px;
          }

          p {
            font-size: 15px;
            margin: 0;
          }
        }
      }
    }

    .article-btn-container {
      display: flex;
      justify-content: end;
      gap: 10px;
      margin: 15px 10px;
    }
  }
}


/*test*/
.article2 {
  display: flex;
  justify-content: center;

  .article-inner2 {
    width: 1000px;

    .article-inner-wrap {
      border: 1px solid rgba(164, 164, 164, 0.3);
      border-radius: 15px;
      margin: 50px 0 0 0;

      .article-header2 {
        width: 100%;
        margin: 30px 0 0 0;
        display: flex;
        justify-content: space-between;

        .article-header-left2 {
          h1 {
            margin: 0 30px;
            font-size: 32px;
          }

          .study-h2{
            margin: 0 30px;
            font-size: 32px;
            color: #1e71ff;
          }

          p{
            margin: 0 30px;
            font-size: 18px;
          }
        }

        .article-header-right2 {
          display: flex;
          gap: 10px;
          margin: 0 30px;
          flex-direction: column;

          .article-info-first2{
            display: flex;
            justify-content: end;
            gap: 10px;
            margin: 0 0 5px 0;

            a{}
            .time2 {
              span {}
              time {}
            }

          }

          .article-info-second2{
            display: flex;
            justify-content: end;
            gap: 10px;

          }




        }
      }

      .article-navigation2{
        display: flex;
        padding: 10px 30px;
        gap: 10px;

        a{
          display: flex;
          gap: 3px;
          color: #1e71ff;
        }
      }

      hr {
        width: 95%;
        border: 1px solid rgba(164, 164, 164, 0.3);
      }

      .article-content2 {
        width: 100%;
        //border: 1px solid cadetblue;
        margin: 0 0 30px 0;

        p {
          margin: 30px 30px 0 30px
        }

      }
    }
  }

  .article-footer2 {
    display: flex;
    justify-content: end;
    width: 100%;

    .article-btn {
      display: flex;
      gap: 10px;
      margin: 15px 10px;

      a {
        padding: 9.2px 20px;
        border-radius: 0.75rem;
        background: #1e71ff;
        border: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

